{% extends 'base.html.twig' %}

{% block title %}Nos auteurs{% endblock %}

{% block body %}
    <h1 class="mt-5">Nos auteurs</h1>
    <p >
        Darni rassi dolor sit amet consectetur adipisicing elit. Recusandae veritatis mollitia maiores, ea beatae officia tempore perferendis quae accusamus debitis molestiae ad illum corporis atque voluptatum quod ullam dolorum sapiente, dolores architecto nesciunt pariatur? Numquam facere repudiandae assumenda consequatur illo ex rerum. Commodi suscipit dolore minima. Sequi ratione ducimus ullam.
    </p><hr>
        <div class="form-group my-3">
        <form action="{{ path('search_book') }}" method="get" class="d-flex">
            <input type="text" name="search-value" class="form-control">
                <button type="submit" class="btn btn-dark">
                    recherche
                </button>

            </form>
        </div>
    <div class="row">
        {# On fait une boucle sur la variable auteur de la method index #}
        {% for auteur in auteurs %}
        <div class="col-12 col-md-3 col-lg-2">
            <a href="{{path('auteur-detail',{'id':auteur.id})}}">
                {% if auteur.imageName is defined and auteur.imageName is not null %}
                <img src="{{ asset('images/auteurs/' ~ auteur.imageName) }}" alt="{{ auteur.nom }}" class=" img-thumbnail mb-2"></td>
                {% else %}
                <img src="{{asset('images/auteurs/man.webp')}}" alt="" class="img-fluid">
                {% endif %}

                {# {% if auteur.nom is defined and auteur.nom is not null %}
                <h2>{{  }}</h2>
                {% else %}
                <h3>{{auteur.nom}} {{auteur.prenom}}</h3>
                {% endif %} #}

            </a>
        </div><hr>
       
            
    {% endfor %}
    </div>
    <div>
        <a href="{{ path('admin_auteur_index') }}" class="btn btn-primary bg-primaray mt-2"><i class="fa fa-backward" aria-hidden="true"></i>back to list</a>

    </div>
    <div class="navigation mt-3">
    {{ knp_pagination_render(auteurs) }}
    </div>

{% endblock %}
