{% extends 'base-admin7.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="d-felx justify-content-between align-items-center">
        <h1>Liste des {{title}}</h1>
        <a href="{{ path('admin_user_new',{'role':role}) }}" class="btn btn-primary my-2">Nouveau</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Role</th>
                
                <th >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{% if "ROLE_ADMIN" in user.roles %}
                Administrateur
                {% elseif "ROLE_USER"%}
                Utilisateur
                {% endif %}
                </td>
                {# <td>{{ user.password }}</td> #}
                <td class="">
                    <a href="{{ path('admin_user_show', {'id': user.id}) }}" class="btn btn-secondary  "><i class="fa fa-eye "  aria-hidden="true"></i></a>
                    <a href="{{ path('admin_user_edit', {'id': user.id,'role':role}) }}" class="btn btn-secondary mx-2"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
